/* general */

body {
    background-color:#181818; 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    vertical-align: middle;
    margin-top: 72px;
}

a {color:inherit;}

.light-mode {
    background-color:white; 
    color: black;
}

/* divs w/ animations*/
.nav {
    justify-content: space-between;
    display: flex;
 
    opacity: 0;
    animation: fadeIn 1s ease-in;
    animation-fill-mode: forwards;
}

.paragraphs {
    opacity: 0;
    animation: fadeIn 1s ease-in 500ms;
    animation-fill-mode: forwards;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    opacity: 0;
    animation: fadeIn 1s ease-in 750ms;
    animation-fill-mode: forwards;
}

.btn-out {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    opacity: 0;
    animation: fadeIn 1s ease-in 250ms;
    animation-fill-mode: forwards;
}

/* divs w/o animations */
.body-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.body-par {
    margin: auto;
    width: 35%;
    padding: 10px;  
}

.btn {
    border:none;
    background-color:transparent;
    color:inherit;
    font-size: 0px;
    padding: 0%;
    cursor:pointer;
}

.links-spacing{
    padding-left: 2px;
    padding-right: 2px;
}

/* at-rules */
@media only screen and (max-width: 900px) {
    body {
        margin-top: 0px;
    }
    
    .body-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .body-par{
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}