body {
    background-color:#181818; 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    vertical-align: middle;
    margin-top: 72px;    
}

a {
    color:inherit;
 }

.light-mode {
    background-color:white; 
    color: black;
}

.body-par {
    margin: auto;
    width: 35%;
    padding: 10px;  
}

.nav {
   justify-content: space-between;
   display: flex;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.links-min{
    padding-left: 2px;
    padding-right: 2px;
}

.btn {
    border:none;
    background-color:transparent;
    color:inherit;
    font-size: 0px;
    padding: 0%;
    cursor:pointer;
}

.body-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

@media only screen and (max-width: 900px) {
    body {
        margin-top: 0px;
    }
    
    .body-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .body-par{
        width: 100%;
    }
}