.grid{
    height: 20%;
    display: grid;
    padding-bottom: 16px;


    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    
    column-gap: 8px;
    row-gap: 2px;

    justify-content: center;
    align-items: center;
}


.item{
    text-align: center;
    height:auto;
    place-self: center;
    border: 2px solid transparent;

    opacity: 0;
    animation: fadeIn 1s ease-in 500ms;
    animation-fill-mode: forwards;
}

.item:hover{
    text-shadow: 0px 0px 1px white;
    font-weight: bolder;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}